
## Lecture 3 outline
- Data Structures - Tuple, Set, Dictionary
- For loop
- While loop

Course materials: https://nbviewer.org/github/Python-Crash-Course/Python101/tree/master/ & https://automatetheboringstuff.com/

### Lecture 1 excercises solutions

### Q1 - Absolute Value:

In [2]:
# Absolute Value
num = float(input("Please enter a number.\n"))

if num < 0:
    num = num * -1   # num =-1
print("Absolute value:", num)

num = float(input("Please enter a number.\n"))
print("Absolute value:", abs(num))

Please enter a number.
-10
Absolute value: 10.0
Please enter a number.
-10
Absolute value: 10.0

### Q2 - Min Value:

In [3]:
# Minimum Value
num1 = float(input("Please enter a number.\n"))
num2 = float(input("Please enter a number.\n"))
num3 = float(input("Please enter a number.\n"))

if num1 < num2:
    if num1 < num3:
        print("Minimum:", num1)
    else:
        print("Minimum:", num3)
else:
    if num1 < num3:
        print("Minimum:", num2)
    else:
        print("Minimum:", num3)
        
print("Minimum:", min(num1,num2,num3))

Please enter a number.
5
Please enter a number.
3
Please enter a number.
4
Minimum: 4.0

### Q3 - Graduation condition

In [4]:
# Graduation Condition
gpa = float(input("Enter your GPA: "))
number_of_lectures = int(input("Enter number of lectures that you have taken: "))

gpa_control = 2.0
number_of_lectures_control = 47

if gpa < gpa_control and number_of_lectures < number_of_lectures_control:
    print("Not enough number of lectures and GPA!")
elif gpa < gpa_control:
    print("Not enough GPA!")
elif number_of_lectures < number_of_lectures_control:
    print("Not enough number of lectures!")
else:
    print("GRADUATED!!!")

Enter your GPA: 3.0
Enter number of lectures that you have taken: 10
Not enough number of lectures!

### Q4. Ticket discount

In [5]:
# Ticket Discount
age = int(input("Enter your age: "))
price = 3
if 6 < age < 60 :
    if 7 <= age <= 18 :
        print("Ticket price:",price*0.50)
    else:
        print("Ticket price:",price)
else:
    print("Free")

Enter your age: 18
Ticket price: 1.5

### Q5. Roots of Quadratic equation

In [6]:
 # Roots of Quadratic Equation
a = float(input("Enter a: "))
b = float(input("Enter b: "))
c = float(input("Enter c: "))

delta = b**2 - 4*a*c

if delta > 0:
    print("There are two real roots.")
    x1 = -b + (delta**0.5) / (2 * a)
    x2 = -b - (delta**0.5) / (2 * a)
    print("x1 = ", x1, "x2 = ", x2)
elif delta == 0:
    print("There is one real root.")
    x = -b / (2 * a)
    print("x1 = x2 = ", x)
else:
    print("There are two complex roots.")
    i = (-1)**0.5
    x1 = -b + i * (delta**0.5) / (2 * a)
    x2 = -b - i * (delta ** 0.5) / (2 * a)
    print("x1 = ", x1, "x2 = ", x2)

Enter a: 1
Enter b: 4
Enter c: 2
There are two real roots.
x1 =  -2.585786437626905 x2 =  -5.414213562373095

In [ ]:
from IPython.display import HTML
import random

def hide_toggle(for_next=False):
    this_cell = """$('div.cell.code_cell.rendered.selected')"""
    next_cell = this_cell + '.next()'

    toggle_text = 'Toggle show/hide'  # text shown on toggle link
    target_cell = this_cell  # target cell to control with toggle
    js_hide_current = ''  # bit of JS to permanently hide code in current cell (only when toggling next cell)

    if for_next:
        target_cell = next_cell
        toggle_text += ' next cell'
        js_hide_current = this_cell + '.find("div.input").hide();'

    js_f_name = 'code_toggle_{}'.format(str(random.randint(1,2**64)))

    html = """
        <script>
            function {f_name}() {{
                {cell_selector}.find('div.input').toggle();
            }}

            {js_hide_current}
        </script>

        <a href="javascript:{f_name}()">{toggle_text}</a>
    """.format(
        f_name=js_f_name,
        cell_selector=target_cell,
        js_hide_current=js_hide_current, 
        toggle_text=toggle_text
    )

    return HTML(html)

## Tuples
Tuples are very comparable to lists, but they are defined by parentheses `()`. Most notable difference from lists is that tuples are **immutable**.

### Tuple syntax 
<code> t = (item_1, item_2, ..., item_n) </code>

### Mutability
Tuples are ***immutable***. They cannot be changed after creation.

### Tuple examples

In [5]:
# Simple tuple of integers
t1 = (1, 24, 56)   

# Multiple types as tuple elements
t2 = (1, 1.62, '12', [1, 2 , 3])  

# Tuple of tuples
points = ((4, 5), (12, 6), (14, 9))

## Sets
Sets are defined with curly brackets `{}`. They are **unordered and don't have an index**. See description of indexing further down. Sets also have **unique items**.

### Set syntax
   
<code> s = {item_1, item_2, ..., item_n} </code>

The primary idea about sets is the ability to perform set operations. These are known from mathematics and can determine the *union*, *intersection*, *difference* etc. of two given sets.

See for example these links for explanations on set operations: https://en.wikipedia.org/wiki/Set_(mathematics)#Basic_operations or https://snakify.org/en/lessons/sets/.

A list, string or tuple can be converted to a set by `set(sequence_to_convert)`. Since sets only have unique items, the set resulting from the operation has same values as the input sequence, but with duplicates removed. This can be a way to create a list with only unique elements. 

For example:
~~~python
# Convert list to set and back to list again with now only unique elements
list_uniques = list(set(list_with_duplicates))  
~~~

### Mutability
Sets are ***mutable***. They can be changed after creation.

### Set examples

In [6]:
s1 = {32, 3, 1, 86, 6, 8}
s2 = {8, 6, 21, 7, 26}

# Find the union of the two sets
s1.union(s2)

{1, 3, 6, 7, 8, 21, 26, 32, 86}

In [7]:
# Find the intersection of the two sets
s1.intersection(s2)

{6, 8}

In [8]:
list_with_duplicates = [1, 2, 3, 4, 5, 2, 2, 3, 1]

# Create a set of the list (which removed duplicates)
s3 = set(list_with_duplicates)   
s3

{1, 2, 3, 4, 5}

If a `list` is wanted again:

In [9]:
list(s3)

[1, 2, 3, 4, 5]

## Data Structures - Dictionaries

## Dictionaries
Dictionaries have key/value pairs which are enclosed in curly brackets`{}`. A value can be fetched by querying the corresponding key. Refering the data via logically named keys instead of list indexes makes the code more readable.

### Dictionary syntax    
    
<code> d = {key1: value1, key2: value2, ..., key_n: value_n} </code>
    
Note that values can be of any data type like floats, strings etc., but they can also be lists or other data structures.

**Keys must be unique within the dictionary**. Otherwise it would be hard to extract the value by calling out a certain key, see the section about indexing and slicing below.

Keys also must be of an immutable type.
 
### Mutability
Dictionaries are ***mutable***. They can be changed after creation.

### Dictionary examples
Some examples of dictionaries:

In [7]:
# Strings as keys and numbers as values
d1 = {'axial_force': 319.2, 'moment': 74, 'shear': 23}      

# Strings as keys and lists as values
d2 = {'Point1': [1.3, 51, 10.6], 'Point2': [7.1, 11, 6.7]}  

# Keys of different types (int and str, don't do this!)
d3 = {1: True, 'hej': 23}

The first two dictionaries above have a certain trend. For `d1` the keys are strings and the values are integers. For `d2` the keys are strings and the values are lists. These are well-structured dictionaries.

However, `d3` has keys that are of mixed types! The first key is an integer and the second is a string. This is totally valid syntax, but not a good idea to do.

As with most stuff in Python the flexibility is very nice, but it can also be confusing to have many different types mixed in the same data structure. To make code more readable, it is often preferred to keep the same trend throughout the dictionary. I.e. all keys are of same type and all values are of the same type as in `d1` and `d2`.

The keys and values can be extracted separately by the methods `dict.keys()` and `dict.values()`:

In [8]:
d1.keys()

dict_keys(['axial_force', 'moment', 'shear'])

In [11]:
d2.items()

dict_items([('Point1', [1.3, 51, 10.6]), ('Point2', [7.1, 11, 6.7])])

In [12]:
d1.values()

dict_values([319.2, 74, 23])

### Extracting values from dictionaries
Dictionaries differ from data structures like strings, lists and tuples since **they do not have an index**. Instead, a value is extracted by using the corresponding key:

In [16]:
d = {'N': 83, 'My': 154, 'Mz': 317}
d['My'] = 54

In [21]:
d.update({'My': [55,54]})

In [22]:
d.get('My')

[55, 54]

See demonstation below, where the key `'a'` is defined twice. The second defintion overwrites the first one.

In [ ]:
{'a': 1, 'b': 2, 'c':3, 'a': 4}

In [23]:
myCat = {'size': 'fat',
                'color': 'gray',
                'disposition': 'loud'}

In [24]:
print('My cat has ' + myCat['color'] + ' fur.')

My cat has gray fur.

### Modeling the real world with Dictionaries

![](000101.jpg)

In [26]:
# how ??
chess_board = {"b_queen" : "h1",
                          "w_queen": "e3"}

In [27]:
chess_board["w_queen"] = "g2"

In [28]:
chess_board

{'b_queen': 'h1', 'w_queen': 'g2'}

![](000048.jpg)

In [30]:
# how ??
board = {"top-L": "",
               "top-M": ""}

In [31]:
board['top-L'] = "X"

In [32]:
board

{'top-L': 'X', 'top-M': ''}

In [34]:
for key, value in board.items():
    if "top" in key:
#         from IPython.core.debugger import set_trace
#         set_trace()
#         import ipdb; ipdb.set_trace()

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_47952/40553923.py, line 4)

## For loop

In [35]:
range(10)

range(0, 10)

In [36]:
print('My name is')
for i in range(5):
    print('Jimmy Five Times (' + str(i) + ')')

My name is
Jimmy Five Times (0)
Jimmy Five Times (1)
Jimmy Five Times (2)
Jimmy Five Times (3)
Jimmy Five Times (4)

In [37]:
total = 0
for num in range(101):
    total = total + num
print(total)

5050

### Range

In [38]:
for i in range(12, 16):
    print(i)

12
13
14
15

In [39]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [50]:
for i in range(5, 1, -1):
    print(i)

5
4
3
2

In [51]:
import random

In [52]:
# This is a guess the number game.
import random
secretNumber = random.randint(1, 20)
print('I am thinking of a number between 1 and 20.')

# Ask the player to guess 5 times.
for guess_count in range(5):
    print('Take a guess between 1-20.')
    guess = int(input())

    if guess < secretNumber:
        print('Your guess is too low.')
    elif guess > secretNumber:
        print('Your guess is too high.')
    else:
        break    # This condition is the correct guess!

if guess == secretNumber:
    print('Good job! You guessed my number in ' + str(guess_count) + ' guesses!')
else:
    print('Nope. The number I was thinking of was ' + str(secretNumber))

I am thinking of a number between 1 and 20.
Take a guess between 1-20.
9
Your guess is too low.
Take a guess between 1-20.
12
Your guess is too low.
Take a guess between 1-20.
17
Your guess is too high.
Take a guess between 1-20.
15
Your guess is too high.
Take a guess between 1-20.
13
Your guess is too low.
Nope. The number I was thinking of was 14

### Project Euler Q1

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [53]:
total = 0
for i in range(1, 1000):
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

233168

### Project Euler Q4

A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99.

Find the largest palindrome made from the product of two 3-digit numbers.

In [62]:
import time
start = time.time()
_max = 0
for i in range(900, 1000):
    for j in range(900, 1000):
        if str(i * j) == str(i * j)[ : : -1]:
            if i * j > _max:
                _max = i * j
print(_max)
end = time.time()
print(end - start)

0
0.00700068473815918

In [63]:
reversed?

### keys(), values(), and items() Methods in Dictionary

In [64]:
spam = {'color': 'red', 'age': 42}
for v in spam.values():
    print(v)

red
42

In [65]:
for k in spam.keys():
    print(k)

color
age

In [66]:
for i in spam.items():
    print(i)

('color', 'red')
('age', 42)

In [67]:
for k,v in spam.items():
    print(f"key: {k} - value: {v}")

key: color - value: red
key: age - value: 42

In [68]:
for item in ["Dark Knight", "Memento"]:
    print(item)

Dark Knight
Memento

In [ ]:
allGuests = {'Alice': {'apples': 5, 'pretzels': 12},
                    'Bob': {'ham sandwiches': 3, 'apples': 2},
                    'Carol': {'cups': 3, 'apple pies': 1}}

## While loop

In [69]:
count = 0
if count < 5:
    print('Hello, world.')
    count = count + 1

Hello, world.

In [70]:
count = 0
while count < 5:
    print('Hello, world.')
    count = count + 1

Hello, world.
Hello, world.
Hello, world.
Hello, world.
Hello, world.

In [71]:
while True:
    print('Please type your name.')
    name = input()
    if name == 'yagiz':
        break
    print('Thank you!')

Please type your name.
Yağız
Thank you!
Please type your name.
break
Thank you!
Please type your name.
yagiz

In [72]:
while True:
    print('Who are you?')
    name = input()
    if name != 'Joe':
        print("try again!")
        continue
    print('Hello, Joe. What is the password? (It is a fish.)')
    password = input()
    if password == 'swordfish':
        print('Access granted.')
        break

Who are you?
joe
try again!
Who are you?
Joe
Hello, Joe. What is the password? (It is a fish.)
sw
Who are you?
Joe
Hello, Joe. What is the password? (It is a fish.)
swordfish
Access granted.

In [73]:
birthdays = {'Alice': 'Apr 1', 'Bob': 'Dec 12', 'Carol': 'Mar 4'}

while True:
    print('Enter a name: (blank to quit)')
    name = input()
    if name == '':
        break

    if name in birthdays:
        print(birthdays[name] + ' is the birthday of ' + name)
    else:
        print('I do not have birthday information for ' + name)
        print('What is their birthday?')
        bday = input()
        birthdays[name] = bday
        print('Birthday database updated.')

Enter a name: (blank to quit)
yagiz
I do not have birthday information for yagiz
What is their birthday?
1 ocak
Birthday database updated.
Enter a name: (blank to quit)

In [74]:
birthdays

{'Alice': 'Apr 1', 'Bob': 'Dec 12', 'Carol': 'Mar 4', 'yagiz': '1 ocak'}

### Project Euler Q2

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [77]:

fibonacci = list()  # [ ]
fibonacci.append(1)
fibonacci.append(2)
i = 2
while True:
    if fibonacci[i-1] + fibonacci[i-2] < 4000000:
        fibonacci.append(fibonacci[i-1] + fibonacci[i-2])
        i += 1
    else:
        break
        
_sum = 0
for i in fibonacci:
    if i % 2 == 0:
        _sum += i
        
print(_sum)

4613732

In [78]:
fibonacci

[1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578]

In [82]:
print?

## For home exercises:

- https://leetcode.com/
- https://www.practicepython.org/
- https://pynative.com/python-exercises-with-solutions/